<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ScheduleSettings" type="LoyalFilial.Framework.Job.Domain.ConfigSection.ScheduleSettings, LoyalFilial.Framework.Job.Domain"/>
  </configSections>
  <ScheduleSettings>
    <JobSettings>
      <add Interval="10000" JobUrl="http://localhost:18990/Service1.svc" ServiceName="IService1" MethodName="GetData" Valus="1" Name="TestWcf"/>
    </JobSettings>
    <CommonSetting EffectHour="0" ExpireHour="24"/>
  </ScheduleSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
