<?xml version="1.0" encoding="utf-8" ?>
<LoyalFilial.Framework.Config Id="LoyalFilial">
  <Module Name="Cache" type="LoyalFilial.Framework.Cache.CacheManager,LoyalFilial.Framework.Cache">
    <Cache type="MemCached">
      <CacheName value="RosetteStoneCache"/>
      <Servers value="192.168.2.169:11211,192.168.2.169:11211"/>
      <SendReceiveTimeout value="5000"/>
      <ConnectTimeout value="5000"/>
      <MinPoolSize value="10"/>
      <MaxPoolSize value="50"/>
      <ExpirationTime value="30"/>
      <Region value="Rs_"/>
    </Cache>
    <Cache type="LocalCached">
      <ExpirationTime value="30"/>
      <Region value="Rs_"/>
    </Cache>
    <Cache type="Redis">
      <MaxWritePoolSize value="1000"/>
      <MaxReadPoolSize value="1000"/>
      <ReadWriteHosts value="192.168.2.169:6377"/>
      <ReadOnlyHosts value="192.168.2.169:6377"/>
      <InitalDb value="0"/>
      <ExpirationTime value="30"/>
    </Cache>
  </Module>

  <Module Name="Log" type="LoyalFilial.Framework.Log.Log4NetManager,LoyalFilial.Framework.Log">
    <Appender name="MysqlAppender" type="DataBase">
      <!--BufferSize为缓冲区大小-->
      <BufferSize value="1" />
      <ConnectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <ConnectionString value="server = 192.168.1.52;database = biz_dev;user id = biz_dev;password = biz_dev117go;allow zero datetime=true;" />
      <CommandText value="INSERT INTO `logs` (`AppId`, `Ip`, `Date`, `Thread`, `Level`,  `Message`,`Exception`) VALUES (@log_appid, @log_ip, @log_date, @thread, @log_level, @message, @exception)" />
    </Appender>
    <Appender name="RollingFileAppender" type="RollingFile">
      <AppendToFile value="true" />
      <DatePattern value="yyyy-MM-dd HH'.log'" />
      <File value="Logs/" />
      <MaximumFileSize value="10240kb" />
      <MaxSizeRollBackups value="1000" />
      <StaticLogFileName value="false" />
      <ConversionPattern value="%n【AppId】%AppId%n【服务器Ip】%Ip%n【记录时间】%date%n【等级】%level%n【描述】%message%n【线程编号】%thread%n【执行时间】%r毫秒%n【当前机器名】%property%n"/>
    </Appender>
  </Module>

  <Module Name="Mail" type="LoyalFilial.Framework.Mail.MailManager,LoyalFilial.Framework.Mail">
    <SmtpServer value="smtp.gmail.com"/>
    <ServerPort value="0"/>
    <UserName value="demo@117go.com"/>
    <Password value="123123"/>
    <!--邮件发送队列定时器间隔时间（毫秒）-->
    <Interval value="1000"/>
  </Module>

  <Module Name="Data" type="LoyalFilial.Framework.Data.DataManager,LoyalFilial.Framework.Data">
    <DataProvider Name="MySql" type="LoyalFilial.Framework.Data.MySql.MySQLDataProvider,LoyalFilial.Framework.Data.MySql">
      <TableCommandGenerator type="LoyalFilial.Framework.Data.Database.SqlTableCommandGenerator,LoyalFilial.Framework.Data"/>
      <ConnectionStrings>
        <ConnectionString Key="mysqlTest" ConnectionString="server = 192.168.1.52;database = biz_dev;user id = biz_dev;password = biz_dev117go;allow zero datetime=true;" Default="true" MaxPools="1" />
        <ConnectionString Key="mysqlTest2" ConnectionString="server = 192.168.1.54;database = biz_dev;user id = biz;password = bizbiz117go;allow zero datetime=true;" MaxPools="100" />
      </ConnectionStrings>
    </DataProvider>
  </Module>

  <Module Name="Auth" type="LoyalFilial.Framework.Authentication.PermissionManager,LoyalFilial.Framework.Authentication">
    <ConnectionString Key="authDb" ConnectionString="server = 192.168.1.52;database = biz_dev;user id = biz;password = bizbiz117go;allow zero datetime=true;" />
    <!--保持登录时长（分钟）；登录日志记录异步间隔（毫秒）；允许密码错误重试次数；-->
    <Login LoginKey="LoginKey" Timeout="30" LogInterval="1000" PasswordRetriedTimes="5">
      <LoginUrl>http://192.168.1.61/Login.aspx?returnurl={0}</LoginUrl>
      <AccountExpression Description="用户账号4-8位，由字母数字下划线组成。">^[a-zA-Z0-9_]{4,8}$</AccountExpression>
      <EscapedUrl>/Login.aspx;/AuthCode.aspx</EscapedUrl>
      <TrustedUri>192.168.1.61;192.168.1.69</TrustedUri>
    </Login>
  </Module>
</LoyalFilial.Framework.Config>
