<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Framework.Config" type="LoyalFilial.Framework.Core.Config.ConfigSectionHandler,LoyalFilial.Framework.Core"/>
  </configSections>
  <appSettings>
    <add key="AppId" value="00001"/>
    <add key="ServerUrl" value="http://192.168.1.60:8983/solr/"/>
  </appSettings>
  <Framework.Config Id="RCF001">
    <ConfigConnection>LoyalFilial.Framework.config</ConfigConnection>
  </Framework.Config>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Forms"/>
    <!--<httpModules>
        <add name="LoginModule" type="LoyalFilial.Framework.Authentication.Login.LoginModule,LoyalFilial.Framework.Authentication"/>
      </httpModules>-->
  </system.web>
</configuration>