<?xml version="1.0" encoding="utf-8" ?>
<LoyalFilial.Framework.Config Id="LoyalFilial">

  <Module Name="Cache" type="LoyalFilial.Framework.Cache.CacheManager,LoyalFilial.Framework.Cache">
    <Cache type="MemCached">
      <CacheName value="LoyalFilialCache"/>
      <Servers value="10.1.25.61:11211"/>
      <SendReceiveTimeout value="5000"/>
      <ConnectTimeout value="5000"/>
      <MinPoolSize value="10"/>
      <MaxPoolSize value="50"/>
      <ExpirationTime value="30"/>
      <Region value="Rs_"/>
    </Cache>
    <Cache type="LocalCached">
      <ExpirationTime value="30"/>
      <Region value="Rs_"/>
    </Cache>
    <Cache type="Redis">
      <MaxWritePoolSize value="10000"/>
      <MaxReadPoolSize value="10000"/>
      <ReadWriteHosts value="10.1.25.61:6377"/>
      <ReadOnlyHosts value="10.1.25.61:6377"/>
      <InitalDb value="1"/>
      <ExpirationTime value="30"/>
    </Cache>
  </Module>

  <Module Name="Log" type="LoyalFilial.Framework.Log.Log4NetManager,LoyalFilial.Framework.Log">
    <Appender name="MysqlAppender" type="DataBase" enable="true">
      <!--BufferSize为缓冲区大小-->
      <BufferSize value="1" />
      <ConnectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <ConnectionString value="server = localhost;database = LoyalFilial_CarService;user id = root;password = ;allow zero datetime=true;" />
      <CommandText value="INSERT INTO `carservice_log` (`Level`,`Ip`, `LogTime`, `Title`,`Message`,`Exception`) VALUES (@log_level, @log_ip, @log_date, @title,  @message, @exception)" />
    </Appender>
    <Appender name="RollingFileAppender" type="RollingFile" enable="true">
      <AppendToFile value="true" />
      <DatePattern value="yyyy-MM-dd HH'.log'" />
      <File value="Logs/" />
      <MaximumFileSize value="10240kb" />
      <MaxSizeRollBackups value="1000" />
      <StaticLogFileName value="false" />
      <ConversionPattern value="%n【AppId】%AppId%n【服务器Ip】%Ip%n【记录时间】%date%n【等级】%level%n【描述】%message%n【线程编号】%thread%n【执行时间】%r毫秒%n【当前机器名】%property%n"/>
    </Appender>
  </Module>

  <Module Name="Data" type="LoyalFilial.Framework.Data.DataManager,LoyalFilial.Framework.Data">
    <DataProvider Name="MySql" type="LoyalFilial.Framework.Data.MySql.MySQLDataProvider,LoyalFilial.Framework.Data.MySql">
      <TableCommandGenerator type="LoyalFilial.Framework.Data.MySql.MySqlTableCommandGenerator,LoyalFilial.Framework.Data.MySql"/>
      <ConnectionStrings>
        <ConnectionString Key="CarServiceDB" ConnectionString="server = localhost;database = LoyalFilial_CarService;user id = root;password = ;allow zero datetime=true;" Default="true" />
        <ConnectionString Key="LogDB" ConnectionString="server = localhost;database = LoyalFilial_CarService;user id = root;password = ;allow zero datetime=true;" />
      </ConnectionStrings>
    </DataProvider>
  </Module>

  <Module Name="Mail" type="LoyalFilial.Framework.Mail.MailManager,LoyalFilial.Framework.Mail">
    <SmtpServer value="smtp.117go.com"/>
    <ServerPort value="25"/>
    <UserName value="tbooking@117go.com"/>
    <Password value="117go3edcVFR$"/>
    <!--邮件发送队列定时器间隔时间（毫秒）-->
    <Interval value="1000"/>
  </Module>
</LoyalFilial.Framework.Config>
